<h1>改行を試す</h1>
<article>
  <header>
    <h2><code>pre</code>要素を使う</h2>
    <p><code>¥n</code>は自動で改行してくれるが、サーバーに格納されている<code>¥¥n</code>だとだめ.文章が長いと親要素の幅を無視してはみ出す</p>
  </header>
  <pre>
    {{text}}
  </pre>
</article>

<article>
  <header>
    <h2>CSSで改行</h2>
    <p><code>{{'{'}}white-space: pre-wrap}</code>で改行する。改行の仕方はpre要素と同じ。はみ出さない</p>
  </header>
  <p class="css-wrap">
    {{text}}
  </p>
</article>

<article>
  <header>
    <h2>改行コードで分割</h2>
    <p>改行コードで段落毎に配列に分割し<code>p</code>要素をループ。<code>p</code>要素は段落なので、セマンティクス的にもいい感じ</p>
  </header>
  <p *ngFor="let paragrap of splited">
    {{paragrap}}
  </p>
</article>
